{% extends "base.html" %}

{% block title %}Driver Expense Form{% endblock %}

{% block content %}

<div class="panel">

<h1 class="page-title">Online Driver Expense Form</h1>

<div class="text-block">

<p><strong>Click link below</strong></p>

<p><em>(If using your phone, you MUST select <span style="color:red;">"Continue in Browser"</span>)</em></p>

<ul>
<li>Enter Name and Email Address to open the form</li>
<li>Enter First and Last Name</li>
<li>Enter first receipt Date, Paid To, Purpose/City-State / Unit #, Job/Campaign and Receipt Amount</li>
<li>Choose column for Comdata IF Funds were withdrawn</li>
<li>Choose Personal Cash column if paid "out of pocket"</li>
<li>Repeat for additional receipts as needed</li>
<li>Click on Signature to Sign</li>
<li>Click on Done (top right corner) to submit</li>
</ul>

</div>

<div class="center-btn">

<a class="panel-btn"
   href="https://pdf.ac/9JwDB6"
   target="_blank">

Driver Expense form (digital)

</a>

</div>

</div>

{% endblock %}