{% extends "base.html" %}
{% block title %}Labor Law Posters{% endblock %}

{% block content %}
<section class="panel">

  <h2 class="panel-title">Labor Law Posters</h2>

  <div class="btn-grid one-col">

    <a class="panel-btn" href="/static/pdfs/Federal_merged_pdfs.pdf" target="_blank" rel="noopener">
      Federal
    </a>

    <a class="panel-btn" href="https://app.jjkellerlaborlawposters.com/posters/eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2NvdW50SWQiOiIyMDAyNjg4NTEiLCJpc3MiOiJub2Rlc2VydmVyIiwiaWF0IjoxNjc2Mzk2MTY1fQ.kBYxlWr5dbIwZtrmvL_6fwVYLAyj4bKvsJ4DdnWpL3AYYsBCPfoFFJQ0765eeScGnpB9-3z3s1llbFEpKWprFQ?mapView=" target="_blank">
      Nationwide Labor Poster Map
    </a>

    <a class="panel-btn" href="/static/pdfs/e-verify.pdf" target="_blank" rel="noopener">
      E-Verify
    </a>

    <a class="panel-btn" href="/static/pdfs/cali_workers_comp.pdf" target="_blank" rel="noopener">
      California - Workers Comp
    </a>
  </div>

</section>
{% endblock %}