{% extends "base.html" %}
{% block title %}Videos{% endblock %}

{% block content %}
<section class="panel">
  <h2 class="panel-title">do it outdoors videos</h2>

  <div class="videos-wrap">

    <div class="video-block">
      <div class="video-label">#20hotyears</div>
      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/APnGh_W-05g"
          title="#20hotyears"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-block">
      <div class="video-label">Boost Mobile 2017</div>
      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/tVFQVopKVR0"
          title="Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-block">
      <div class="video-label">Jack in the Box dominates Superbowl 51 in Houston 2017</div>
      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/oyV8P5BmLwU"
          title="Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-block">
      <div class="video-label">California Lottery build - 2013</div>
      <div class="video-embed">
        <iframe
          src=""
          title="Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-block">
      <div class="video-label">Comic Con - 2014</div>
      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/BxdcN_u_ma0"
          title="Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-block">
      <div class="video-label">McDonalds - 2014</div>
      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/tQbae83PPqU"
          title="Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="video-block">
      <div class="video-label">Comic Con - 2012</div>
      <div class="video-embed">
        <iframe
          src="https://www.youtube.com/embed/LtShNdXZL_k"
          title="Video 2"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
    </div>

  </div>
</section>
{% endblock %}